<div class="row">
    <div class="col-sm-9">
        <h1><%= @store[:store_name] %></h1>
        <p><%= @store[:description] %></p>
        <p><%= @store[:address] %></p>
        <p><%= @store[:city] %>, <%= @store[:zip_code] %></p>
        <p><%= @store[:phone_number] %></p>
        <a href="<%= @store[:website] %>" target="_blank">Website</a>
      
        <p class="mt-5">
            <% if @current_user %>
                <a href="/stores/<%= @store[:id] %>/reviews/new" class="btn btn-primary">Review <%= @store[:store_name] %></a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to review <% @store[:store_name] %></a>
            <% end %>
        </p>
    </div>
    <div class="col-sm-3">
        <iframe
            width="350"
            height="300"
            frameborder="1" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
                &q=<%= @lat %>,<%= @long %>&zoom=13" allowfullscreen>
        </iframe>
    </div>
</div>
<div class="row">
    <div class="col-sm-9">
        <h3>Reviews Section</h3>
    </div>
</div>